/* Write your CSS here */
.team-logo {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}
.team-name {
  color: white;
  font-size: 30px;
}
.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #ffffff33;
  border: 1px solid white;
  border-radius: 6px;
  width: 400px;
  list-style-type: none;
  margin: 15px;
  padding: 10px;
  height: 150px;
}
